<script lang="ts" setup>
import { useStoreStore } from "@/stores/store";
import { onMounted } from "vue";
import StoreDialog from "./StoreDialog.vue";

const storeStore = useStoreStore();

onMounted(async () => {
  await storeStore.getStores();
});
</script>
<template>
  <StoreDialog></StoreDialog>
  <v-btn @click="storeStore.dialog = true">Add New</v-btn>
  <v-table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Address</th>
        <th>Tel</th>
        <th>Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item of storeStore.stores" :key="item.id">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.address }}</td>
        <td>{{ item.tel }}</td>
        <td>
          <v-btn class="mr-5" @click="storeStore.editStore(item)">Edit</v-btn
          ><v-btn @click="storeStore.deleteStore(item.id!)">Delete</v-btn>
        </td>
      </tr>
    </tbody>
  </v-table>
</template>
