<script lang="ts" setup>
import { useCustomerStore } from "@/stores/customer";
import { onMounted } from "vue";
import CustomerDialog from "./CustomerDialog.vue";

const customerStore = useCustomerStore();

onMounted(async () => {
  await customerStore.getCustomers();
});
</script>
<template>
  <CustomerDialog></CustomerDialog>
  <v-btn class="mt-5 ml-5" @click="customerStore.dialog = true">Add New</v-btn>
  <v-table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Tel</th>
        <th>Point</th>
        <th>Start_date</th>
        <th>Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item of customerStore.customers" :key="item.id">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.tel }}</td>
        <td>{{ item.point }}</td>
        <td>{{ item.start_date }}</td>
        <td>
          <v-btn class="mr-5" @click="customerStore.editCustomer(item)"
            >Edit</v-btn
          ><v-btn @click="customerStore.deleteCustomer(item.id!)">Delete</v-btn>
        </td>
      </tr>
    </tbody>
  </v-table>
</template>
